body {
  margin               : 0;
  background-image     : url(assets/imgs/clouds.jpg);
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;
  color                : white;
}
.nav{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-left: 20%;
  padding-right: 17% ;
  margin-top: 5%;
}
:hover.nav-top{
  color: black ;
  cursor: pointer;
}
nav{
  display: grid;
  grid-template-columns: auto auto;
}

#banner {
  height: auto;
}

#logo {
  height      : 100px;
  margin-top: 2%;
  padding-left: 5%;
}

.header-current {
  margin-left: 40%;
}

hr {
  margin-top  : 3%;
  margin-left : 15%;
  margin-right: 15%;
}

/* search bar styling */

#search {
  margin-top : 5%;
  margin-left: 18%;
 
  opacity     : 0.7;
}
::placeholder {
  color  : rgb(0, 0, 0);
  opacity: 1;
}
.search-bar {
  width : 70%;
  height: 30px;
  border-top : none;
  border-left : none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.274);
  color : black;
}

.search-button {
  height: 30px;
  color : rgb(12, 11, 11);
}


/* styling of the clouds section  */

#clouds {
  /* display: grid;
    grid-template-columns: 20% 50%; */


}

.current {
  background-color: rgba(46, 46, 46, 0.548);
  margin-left     : 33%;
  margin-right    : 33%;
  margin-top      : 5%;
  padding-top     : 2%;
  padding-left    : 7%;
  height          : 250px;
  color           : white;
}

.icon {
  width        : 18vh;
  float        : left;
  padding-right: 0%;
}

.basicIcon {
  width        : 18vh;
  float        : left;
  padding-right: 0%;
}

.basicName {
  font-size   : 30px;
  padding-left: 12%;
}

.name {
  font-size   : 30px;
  padding-left: 12%;
}

.header-1 {
  text-align: center;
  font-size : 7vh;
}


/* weekly styling */
.lon-lat{
  margin-left: 30%;
  margin-bottom: 5%;
 
}
#lat {
  opacity     : 0.7;
  border-top : none;
  border-left : none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.274);
  height: 30px;
  width: 20%;
}

#lon {
  opacity     : 0.7;
  width: 20%;
  height: 30px;
  border-top : none;
  border-left : none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.274);
  color: rgba(0, 0, 0, 0.384);
}

#getWeekly{
  height: 30px;
  color : rgb(12, 11, 11);
}

.weekly {
  margin-top      : 5%;
  padding-top     : 1%;
  background-color: rgba(0, 0, 0, 0.445);
  height          : 600px;

}

.header-weekly {
  margin-left: 31%;
}

.weekly-hr {
  margin-top   : 3%;
  margin-left  : 15%;
  margin-right : 15%;
  margin-bottom: 4%;
}

.rudiment {
  display              : grid;
  grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
  grid-gap             : 0.5%;
  height               : 200px;
  color                : black;
  margin-left: 5%;

}

.everyday {
  background-color: rgba(252, 252, 252, 0.473);
  border          : 2px white solid;
  background-image     : url(assets/imgs/clouds.jpg);
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;
}

.every-day {
  border          : 2px white solid;
  background-color: rgba(253, 253, 253, 0.473);
  background-image     : url(assets/imgs/clouds.jpg);
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;

}
.overlay{
  background-color: rgba(167, 165, 165, 0.356);
  height: 100%;
  margin-top: -8%;
  width: -100%;
}

.days-heading{
  font-size: 20px;
  padding-left: 30%;
  padding-top: 5%;
}

.day {
  background-color: rgb(252, 252, 252);
}

.icons{
  width: 80px;
  padding-left: 23%;
}

.hmd{
  padding-left: 30%;
}
.minT{
  padding-left: 30%;
}

.maxT{
  padding-left: 30%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}













.popular-2{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 6%; 
  grid-gap: 38px;
  position: relative;
}

.pop-style1{
  background-image: url("./assets/imgs/cape-town.jpg");
  display: block;
  width: 84vh;
  margin: 0px;
  background-position: center;
}
.pop-style2{
  background-image: url("./assets/imgs/durban.jpeg");
  display: block;
  width: 84vh;
  margin: 0px;
  background-position: center;
}
.pop-style3{
  background-image: url("./assets/imgs/joburg.jpg");
  display: block;
  width: 84vh;
  margin: 0px;
  background-position: center;
}
.pop-style4{
  background-image: url("./assets/imgs/pretoria.jpg");
  display: block;
  width: 84vh;
  margin: 0px;
  background-position: center;
}
.pop-style5{
  background-image: url("./assets/imgs/port.jpg");
  display: block;
  width: 84vh;
  margin: 0px;
  background-position: center;
}

.overlay-2{
  background-color: rgba(0, 0, 0, 0.781);
  width: 100%;
  padding: 1px;
  height: 100%;
  color: white;
}
.capeTown_icon{
  width: 21vh;
  float: right;
  margin-top: -5%; 
}
.durban_icon{
  width: 21vh;
  float: right;
  margin-top: -5%;
}
.joburg_icon{
  width: 22vh;
  float: right;
  margin-top: -5%;
}
.pretoria_icon{
  width: 22vh;
  float: right;
  margin-top: -5%;
}
.pe_icon{
  width: 22vh;
  float: right;
  margin-top: -5%;
}
.capeTown_name{
  text-align: center;
}
.durban_name{
  text-align: center;
}
.joburg_name{
  text-align: center;
}
.pretoria_name{
  text-align: center;
}
.pe_name{
  text-align: center;
}
.left{
  padding: 52px;
}
.text{
  padding: 43px;
}







.button {
  display: block;
  border-radius: 0px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-top: -3%;
  text-align: center;
  font-size: 20px;
  padding: 9px;
  /* margin-left: 32%; */
  width: 167px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
  margin-left: 73%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.heading-2{
  font-size: 4em;
  text-align: center;
  color: white;
}

.heading-3{
  font-size: 3em;
  text-align: center;
  color: white;
}